<div class="grupos-view">
  <h1 class="view-title">Grupos</h1>
  <p class="view-lead">Grupos de participantes registrados.</p>

  <ul class="item-list">
    <li>
      <span class="item-tag">Grupo</span>
      <h3>Grupo A - 1A</h3>
      <p>8 integrantes | Tablero 1</p>
    </li>
    <li>
      <span class="item-tag">Grupo</span>
      <h3>Grupo B - 2B</h3>
      <p>10 integrantes | Tablero 2</p>
    </li>
    <li>
      <span class="item-tag">Grupo</span>
      <h3>Grupo C - 2A</h3>
      <p>7 integrantes | Tablero 1</p>
    </li>
    <li>
      <span class="item-tag">Grupo</span>
      <h3>Grupo D - 3A</h3>
      <p>9 integrantes | Tablero 3</p>
    </li>
    <li>
      <span class="item-tag">Grupo</span>
      <h3>Grupo E - 1B</h3>
      <p>6 integrantes | Tablero 2</p>
    </li>
    <li>
      <span class="item-tag">Grupo</span>
      <h3>Grupo F - 3B</h3>
      <p>8 integrantes | Tablero 3</p>
    </li>
  </ul>
</div>